<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-dark">
      <!-- Links -->
      <ul class="navbar-nav">

          {{#each model as |root|}}

              {{build-link currentRoute=currentRouteName route=root.root title=root.name}}
              <!--
              <li class="nav-brand">
                {{#link-to root.root class="nav-link"}}
                    {{root.name}}
                {{/link-to}}
              </li> -->
          {{/each}}
      </ul>

</nav>

{{outlet}}
{{currentRouteName}}
